.vgt{
    color: darkslategray;
}
.nbv{
    color: forestgreen;
}
h2{
    color: indigo;
}
p{
    color: lightsalmon;
}
.hto{
    color: lime;
}
.asw{
    color: mediumblue;
}
.btr{
    color: mediumvioletred;
}